!*.*
/bin

*.classpath
*.project
.gradle/
.settings/
build/
run/*
output/*
/out

!run/mods-ref/

*.iml
*.iws
*.ipr
*.idea/

dependencies

*.DS_Store
classes

gradle\.properties
LemADEC\.jks
LemADEC\.jks\.old

src/generated